@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
/* RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.barra_navegacion {
  background-color: rgba(39, 119, 119, 0.562);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.barra_navegacion .header img {
  align-self: center;
  width: 16vw;
  margin-left: 2rem;
}
.barra_navegacion .header .burger {
  display: none;
  justify-content: right;
}
.barra_navegacion .header .header-right {
  padding-right: 4rem;
}
.barra_navegacion .header .header-right .nav_superior {
  padding-top: 4rem;
}
.barra_navegacion .header .header-right .nav_superior .menu {
  list-style: none;
  font-weight: bold;
  font-size: 30px;
}
.barra_navegacion .header .header-right .nav_inferior {
  padding-bottom: 1.3rem;
  padding-top: 2rem;
}
.barra_navegacion .header .header-right .nav_inferior .menu {
  list-style: none;
  font-weight: bold;
  font-size: 30px;
}
.barra_navegacion .header .header-right .nav-bar {
  gap: 6rem;
}
.barra_navegacion .header .header-right .nav-bar #pais {
  width: 10rem;
  font-size: 30px;
}

.index {
  background-image: url(../img/pexels-fauxels-3183198.jpg);
  background-size: cover;
  padding-bottom: 10%;
}
.index .titulo_principal {
  margin-top: 20%;
}
.index .titulo_principal .sombra_titulo1 {
  background-color: rgba(0, 0, 0, 0.162);
  text-align: center;
  width: 70%;
  border-radius: 19%;
  font-size: 40px;
  font-weight: bold;
}
.index .titulo_principal .sombra_titulo2 {
  background-color: rgba(0, 0, 0, 0.162);
  text-align: center;
  width: 58%;
  border-radius: 19%;
  font-size: 20px;
  margin-top: 10%;
  font-size: 30px;
  margin-bottom: 2rem;
}
.index .titulo_principal .boton_acceder {
  width: 13%;
  border-radius: 30%;
  margin-top: 3rem;
  background-color: darkcyan;
  font-size: 25px;
  border: none;
  font-weight: bold;
}
.index .titulo_principal .boton_acceder:hover {
  background-color: rgba(0, 139, 139, 0.563);
}

.categorias_titulo {
  padding-top: 12%;
  padding-bottom: 3rem;
}
.categorias_titulo h2 {
  font-size: 40px;
}

.container_categorias {
  background-color: rgba(39, 119, 119, 0.096);
  padding-top: 4%;
  padding-bottom: 2%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.container_categorias .imagenes_categorias {
  height: 28vh;
  width: 15vw;
  border-radius: 15%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container_categorias .imagenes_categorias:hover {
  width: 20vw;
  height: 30vh;
}
.container_categorias .tipos_de_categorias h3 {
  margin-top: 2rem;
  font-size: 20px;
}

.grid-container .grid-acordion h3 {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4%;
  font-size: 40px;
}
.grid-container .accordion {
  width: 40%;
  margin-left: 29%;
}
.grid-container .accordion-body img {
  width: 20vw;
  border-radius: 30%;
  align-self: center;
}
.grid-container .accordion-body p {
  margin-top: 1rem;
  text-align: center;
}
.grid-container .grid-carusel h3 {
  text-align: center;
  padding-top: 15%;
  padding-bottom: 10%;
  font-size: 40px;
}
.grid-container .carousel-inner {
  padding-right: 33%;
}
.grid-container .carousel-item img {
  width: 30vw;
}

.inicio_de_sesion {
  background-image: url(../../img/pexels-fauxels-3183198.jpg);
  background-size: cover;
}
.inicio_de_sesion .fondo_inicio_sesion {
  background-color: rgba(153, 201, 201, 0.664);
  margin-bottom: 15%;
  border-radius: 40%;
  margin-top: 5%;
  width: 30vw;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.inicio_de_sesion .fondo_inicio_sesion .logo_inicio {
  padding-top: 2rem;
  width: 16vw;
  margin-left: 8rem;
}
.inicio_de_sesion .fondo_inicio_sesion .formulario_inicio_sesion h1 {
  font-size: 40px;
  margin-top: 15%;
  margin-bottom: 2rem;
}
.inicio_de_sesion .fondo_inicio_sesion .formulario_inicio_sesion label, .inicio_de_sesion .fondo_inicio_sesion input {
  font-size: 20px;
}
.inicio_de_sesion .fondo_inicio_sesion .formulario_inicio_sesion input {
  width: 16vw;
}
.inicio_de_sesion .fondo_inicio_sesion .olvide_contraseña {
  margin-left: 28%;
}
.inicio_de_sesion .volver {
  padding-bottom: 9%;
}

.crear_cuenta {
  background-image: url(../../img/pexels-fauxels-3183198.jpg);
  background-size: cover;
}
.crear_cuenta .fondo_apertura {
  background-color: rgba(153, 201, 201, 0.664);
  width: 30vw;
  border-radius: 40%;
  margin-top: 6%;
  margin-bottom: 8%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.crear_cuenta .fondo_apertura .logo_crear_cuenta {
  width: 16vw;
  margin-top: 3vw;
  margin-left: 8vw;
}
.crear_cuenta .fondo_apertura .apertura {
  gap: 1rem;
  margin-top: 5rem;
  align-items: center;
}
.crear_cuenta .fondo_apertura .apertura .apertura h1 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 10%;
}
.crear_cuenta .fondo_apertura .apertura .apertura label {
  font-size: 25px;
  font-weight: bold;
}
.crear_cuenta .fondo_apertura .apertura .apertura input {
  font-size: 25px;
}
.crear_cuenta .fondo_apertura .apertura .form-control, .crear_cuenta .fondo_apertura .apertura .form-select {
  width: 15vw;
}

.titulo_todas_las_asesorias {
  text-align: center;
  margin-top: 8rem;
}

.todas_las_asesorias {
  margin-top: 2%;
}
.todas_las_asesorias .barra_lateral a {
  width: 12vw;
}
.todas_las_asesorias .grid {
  background-color: rgba(153, 201, 201, 0.664);
  width: 75%;
  border-radius: 5%;
  justify-content: center;
  margin-left: 8%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.todas_las_asesorias .grid .box_categorias {
  margin-top: 8%;
  margin-left: 6%;
  margin-right: 6%;
  width: 90%;
  padding-bottom: 4.5vh;
}
.todas_las_asesorias .grid .box_categorias .card img {
  transition: height 2s;
  transition: 2s;
}
.todas_las_asesorias .grid .box_categorias .card img:hover {
  height: 200px;
  width: 300px;
}

.todas_las_categorias {
  margin-top: 8%;
  justify-content: center;
  margin-left: 25%;
}

.about_company .sobre_nosotros {
  margin: 10% 10%;
  border-radius: 5%;
}
.about_company .sobre_nosotros .titulo_conocenos {
  font-size: 40px;
  margin-bottom: 5%;
  margin-top: 10%;
}
.about_company .sobre_nosotros .introduccion {
  width: 90%;
}
.about_company .sobre_nosotros .introduccion p {
  font-size: 18px;
  text-align: justify;
  line-height: 1.7rem;
  margin-left: 15%;
}
.about_company .sobre_nosotros .cita_motivacional {
  justify-self: center;
  align-self: center;
  font-size: 23px;
  width: 45%;
  margin-left: 15%;
  padding-top: 3rem;
}
.about_company .sobre_nosotros .about_me {
  width: 20vw;
  justify-self: right;
  margin-left: 5%;
}
.about_company .sobre_nosotros .mision_y_vision {
  width: 80%;
}
.about_company .sobre_nosotros .mision_y_vision h2 {
  font-size: 28px;
  margin-bottom: 3rem;
  margin-top: 2rem;
  margin-left: 15%;
}
.about_company .sobre_nosotros .mision_y_vision p {
  font-size: 18px;
  line-height: 1.5rem;
  text-align: justify;
  margin-left: 15%;
}
.about_company .sobre_nosotros .valores {
  padding-top: 2%;
  padding-bottom: 2%;
  width: 80%;
}
.about_company .sobre_nosotros .valores h2 {
  font-size: 28px;
  margin-left: 15%;
}
.about_company .sobre_nosotros .valores p {
  font-size: 18px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  margin-left: 15%;
  line-height: 1.5rem;
}
.about_company .sobre_nosotros .valores ul li {
  font-size: 18px;
  gap: 1rem;
  line-height: 1.5rem;
  margin-left: 15%;
}
.about_company .sobre_nosotros .titulo_equipo {
  font-size: 28px;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
.about_company .sobre_nosotros .container_equipo {
  background-color: rgba(153, 201, 201, 0.664);
  flex-wrap: wrap;
  padding-top: 3rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.about_company .sobre_nosotros .container_equipo .equipo {
  width: 50%;
}
.about_company .sobre_nosotros .container_equipo .equipo img {
  width: 13vw;
  border-radius: 50%;
  margin-bottom: 10%;
  margin-left: 10%;
  align-self: center;
}
.about_company .sobre_nosotros .container_equipo .equipo p {
  width: 70%;
  font-size: 18px;
  text-align: justify;
  margin-left: 12%;
  margin-bottom: 15%;
}
.about_company .sobre_nosotros .container_equipo .last {
  width: 100%;
}
.about_company .sobre_nosotros .container_equipo .last img {
  width: 15vw;
  border-radius: 50%;
  margin-bottom: 10%;
  align-self: center;
}
.about_company .sobre_nosotros .container_equipo .last p {
  width: 50%;
  font-size: 18px;
  text-align: justify;
  margin-bottom: 15%;
  align-self: center;
}

.boton_cuenta {
  width: 8vw;
  border-radius: 40px;
  margin-left: 15%;
  margin-top: 8%;
  margin-bottom: 10%;
  background-color: darkcyan;
  font-size: 17px;
}

.boton_cuenta_nueva {
  width: 8vw;
  border-radius: 40px;
  margin-top: 20px;
  margin-bottom: 10%;
  background-color: darkcyan;
}

.suscribe_boletin {
  background-color: rgba(39, 119, 119, 0.096);
  padding-top: 4%;
  padding-bottom: 4%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin-top: 10%;
  margin-bottom: 10%;
  flex-direction: column;
  align-items: center;
}
.suscribe_boletin .h2 {
  font-size: 24px;
  text-align: center;
  width: 80vw;
  margin-bottom: 10%;
}
.suscribe_boletin .form-control {
  font-size: 25px;
  width: 20vw;
  margin-left: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
.suscribe_boletin button {
  width: 7rem;
  background-color: darkcyan;
  border: none;
  border-radius: 10%;
  font-size: 25px;
  height: 3rem;
}
.suscribe_boletin button:hover {
  background-color: rgba(153, 201, 201, 0.664);
  width: 8rem;
  height: 4rem;
  border-radius: 30%;
  border: none;
}

.container_pie_de_pagina {
  background-color: rgba(39, 119, 119, 0.562);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.container_pie_de_pagina .pie_de_pagina {
  justify-content: center;
  width: 30%;
  gap: 3rem;
  flex-direction: column;
}
.container_pie_de_pagina .pie_de_pagina .footer {
  width: 18vw;
}
.container_pie_de_pagina .pie_de_pagina .footer .logo_footer {
  width: 8vw;
  margin-top: 3rem;
}
.container_pie_de_pagina .pie_de_pagina .redes {
  margin-right: 1rem;
  margin-left: 3.5rem;
  list-style: none;
}

@media screen and (max-width: 1023px) {
  .header img {
    width: 24vw;
    margin-left: 1rem;
  }
  .header .burger {
    display: flex;
    margin-top: 2rem;
    height: 7vh;
  }
  .header-right {
    display: none;
  }
  .boton_acceder {
    width: 13vw;
  }
  .container_categorias {
    flex-direction: column;
    align-items: center;
  }
  .container_categorias .tipos_de_categorias {
    padding: 2rem;
  }
  .container_categorias .tipos_de_categorias .imagenes_categorias {
    width: 35vw;
  }
  .carousel-item img {
    width: 55vw;
  }
  .suscribe_boletin {
    margin-top: 10%;
    margin-bottom: 10%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .suscribe_boletin h2 {
    font-size: 20px;
  }
  .suscribe_boletin input {
    font-size: 18px;
    width: 40vw;
    height: 2.5vh;
    margin-left: 1.5rem;
    margin-top: 3%;
  }
  .suscribe_boletin button {
    width: 4.5rem;
    font-size: 20px;
    margin-top: 5%;
  }
  .about_me img {
    width: 5vw;
  }
}
@media screen and (max-width: 768px) {
  .fondo_inicio_sesion {
    margin-top: 3rem;
    width: 50vw;
  }
  .fondo_inicio_sesion .logo_inicio {
    width: 30vw;
    margin-left: 4rem;
  }
  .fondo_inicio_sesion .formulario_inicio_sesion h1 {
    font-size: 30px;
  }
  .fondo_inicio_sesion .formulario_inicio_sesion input {
    width: 30vw;
  }
  .fondo_inicio_sesion .form-check .boton_cuenta {
    width: 19vw;
  }
  .olvide_contraseña {
    margin-left: 4rem;
  }
  .boton_cuenta_nueva {
    width: 20vw;
  }
  .fondo_apertura {
    width: 75vw;
  }
  .fondo_apertura .logo_crear_cuenta {
    width: 25vw;
    margin-top: 3rem;
  }
  .fondo_apertura .form-control {
    width: 45vw;
  }
  .fondo_apertura .form-check-label {
    width: 40vw;
  }
  .fondo_apertura .boton_cuenta {
    width: 14vw;
  }
  .about_me {
    width: 30vw;
  }
}
@media screen and (max-width: 600px) {
  .header img {
    width: 25vw;
  }
  .header .burger {
    display: flex;
  }
  .header-right {
    display: none;
    margin-top: 20px;
  }
  .titulo_principal h1 {
    margin-top: 6.5rem;
    font-size: 40px;
  }
  .titulo_principal h4 {
    display: none;
  }
  .sombra_titulo {
    width: 85%;
    padding: 1rem;
  }
  .boton_acceder {
    width: 25vw;
  }
  .container_categorias {
    flex-direction: column;
    align-items: center;
  }
  .container_categorias .imagenes_categorias {
    width: 45vw;
    height: 30vh;
  }
  .suscribe_boletin {
    margin-top: 10%;
    margin-bottom: 10%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .suscribe_boletin h2 {
    font-size: 20px;
  }
  .suscribe_boletin input {
    font-size: 18px;
    width: 40vw;
    height: 2.5vh;
    margin-left: 1.5rem;
    margin-top: 3%;
  }
  .suscribe_boletin button {
    width: 4.5rem;
    font-size: 20px;
    margin-top: 5%;
  }
  .pie_de_pagina {
    gap: 1.5rem;
    width: 40vw;
  }
  .pie_de_pagina .logo_footer {
    width: 30vw;
    margin-top: 1rem;
  }
  .pie_de_pagina .redes {
    margin-left: 0.25rem;
  }
  .pie_de_pagina .redes img {
    width: 10vw;
    padding-bottom: 1.2rem;
  }
  .pie_de_pagina .mobile {
    width: 20vw;
  }
  .pie_de_pagina .footer {
    width: auto;
  }
  .pie_de_pagina .footer_remove {
    display: none;
    width: 1vw;
  }
  .barra_lateral {
    display: none;
  }
  .todas_las_categorias {
    margin-top: 8%;
    justify-content: center;
    margin-left: 2%;
  }
  .inicio_de_sesion .olvide_contraseña {
    margin-left: 4rem;
  }
  .fondo_inicio_sesion .logo_inicio {
    width: 30vw;
    margin-left: 15rem;
  }
  .formulario_inicio_sesion h1 {
    font-size: 30px;
  }
  .formulario_inicio_sesion input {
    width: 50vw;
  }
  .formulario_inicio_sesion .form-check .boton_cuenta {
    width: 19vw;
  }
  .formulario_inicio_sesion .boton_cuenta_nueva {
    width: 28vw;
  }
  .fondo_apertura {
    width: 75vw;
  }
  .fondo_apertura .logo_crear_cuenta {
    width: 25vw;
    margin-top: 3rem;
  }
  .fondo_apertura .form-control {
    width: 55vw;
  }
  .fondo_apertura .form-check-label {
    width: 40vw;
  }
  .fondo_apertura .apertura .boton_cuenta {
    width: 14vw;
  }
  .cita_motivacional {
    font-size: 20px;
  }
  .about_me {
    height: 25vh;
    margin-top: 5rem;
  }
  .container_equipo {
    flex-direction: column;
  }
  .container_equipo .equipo {
    width: 80vw;
  }
  .container_equipo .equipo img {
    width: 25vw;
    margin-left: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .header-right {
    display: none;
  }
  .header img {
    width: 25vw;
  }
  .header .burger {
    display: flex;
  }
  .index {
    padding-bottom: 18%;
  }
  .index .titulo_principal h1 {
    font-size: 30px;
    margin-top: 6%;
    color: antiquewhite;
  }
  .index .titulo_principal h4 {
    display: none;
  }
  .index .titulo_principal .sombra_titulo {
    background-color: rgba(0, 0, 0, 0.714);
    width: 70%;
    padding: 1rem;
  }
  .index .titulo_principal .boton_acceder {
    width: 35vw;
  }
  .imagenes_categorias {
    width: 45vw;
  }
  .accordion {
    width: 80%;
    margin-left: 10%;
  }
  .carousel-item img {
    width: 80vw;
    margin-left: 1.2rem;
  }
  .suscribe_boletin {
    margin-top: 10%;
    margin-bottom: 10%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .suscribe_boletin h2 {
    font-size: 20px;
  }
  .suscribe_boletin input {
    font-size: 18px;
    width: 50vw;
    margin-left: 1.5rem;
    margin-top: 3%;
  }
  .suscribe_boletin button {
    width: 4.5rem;
    font-size: 20px;
    margin-top: 5%;
  }
  .pie_de_pagina {
    gap: 1.5rem;
    width: 40vw;
  }
  .pie_de_pagina .footer {
    width: auto;
  }
  .pie_de_pagina .redes {
    margin-left: 0.25rem;
  }
  .pie_de_pagina .redes img {
    width: 8vw;
    padding-bottom: 1.2rem;
  }
  .pie_de_pagina .mobile {
    width: 20vw;
  }
  .pie_de_pagina .footer_remove {
    display: none;
    width: 1vw;
  }
  .inicio_de_sesion .logo_inicio {
    width: 30vw;
    margin-left: 5rem;
  }
  .inicio_de_sesion .fondo_inicio_sesion {
    margin-top: 5rem;
    width: 70vw;
  }
  .inicio_de_sesion .fondo_inicio_sesion .formulario_inicio_sesion h1 {
    font-size: 30px;
  }
  .inicio_de_sesion .fondo_inicio_sesion .formulario_inicio_sesion input {
    width: 50vw;
  }
  .inicio_de_sesion .fondo_inicio_sesion .formulario_inicio_sesion .olvide_contraseña {
    margin-left: 2.2rem;
  }
  .inicio_de_sesion .fondo_inicio_sesion .formulario_inicio_sesion .boton_cuenta_nueva {
    width: 28vw;
  }
  .fondo_apertura {
    width: 80vw;
  }
  .fondo_apertura .logo_crear_cuenta {
    width: 30vw;
    margin-top: 3rem;
  }
  .fondo_apertura .apertura h1 {
    font-size: 30px;
  }
  .fondo_apertura .apertura .form-control {
    width: 70vw;
  }
  .fondo_apertura .apertura .form-check-label {
    width: 40vw;
  }
  .fondo_apertura .apertura .form-label {
    font-size: 18px;
  }
  .fondo_apertura .apertura .form-select {
    width: 40vw;
  }
  .fondo_apertura .apertura .boton_cuenta {
    width: 14vw;
  }
}/*# sourceMappingURL=estilos.css.map */