@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
/* RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

form {
  padding-top: 10%;
}

.barra_navegacion {
  background-color: rgba(39, 119, 119, 0.562);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.barra_navegacion .header img {
  align-self: center;
  width: 9vw;
  margin-left: 2rem;
}
.barra_navegacion .header .burger {
  display: none;
  justify-content: right;
}
.barra_navegacion .header .header-right {
  display: flex;
  padding-right: 3rem;
}
.barra_navegacion .header .header-right .navegacion {
  animation: scale-up-br 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes scale-up-br {
  0% {
    transform: scale(0.5);
    transform-origin: 100% 100%;
  }
  100% {
    transform: scale(1);
    transform-origin: 100% 100%;
  }
}
.barra_navegacion .header .header-right .navegacion .nav_superior {
  padding-top: 3rem;
  margin-right: 2rem;
}
.barra_navegacion .header .header-right .navegacion .nav_superior .dropdown {
  padding-top: -2rem;
}
.barra_navegacion .header .header-right .navegacion .nav_superior .menu {
  list-style: none;
  font-weight: bold;
  font-size: 17px;
}
.barra_navegacion .header .header-right .navegacion .nav_inferior {
  padding-top: 3rem;
}
.barra_navegacion .header .header-right .navegacion .nav_inferior .menu {
  list-style: none;
  font-weight: bold;
  font-size: 17px;
}
.barra_navegacion .header .header-right .navegacion .nav-bar {
  gap: 3rem;
}
.barra_navegacion .header .header-right .navegacion .nav-bar #pais {
  width: 8rem;
  font-size: 17px;
}
.barra_navegacion .header .header-right .navegacion:nth-child(1) {
  animation-delay: 1s;
}
.barra_navegacion .header .header-right .navegacion:nth-child(2) {
  animation-delay: 2s;
}

.index {
  background-image: url(../img/pexels-fauxels.jpg);
  background-size: cover;
  padding-bottom: 10%;
}
.index .titulo_principal {
  margin-top: 20%;
}
.index .titulo_principal .sombra_titulo1 {
  background-color: rgba(0, 0, 0, 0.162);
  text-align: center;
  width: 60%;
  border-radius: 19%;
  font-size: 53px;
  font-weight: bold;
}
.index .titulo_principal .sombra_titulo2 {
  background-color: rgba(0, 0, 0, 0.162);
  text-align: center;
  width: 58%;
  border-radius: 19%;
  font-size: 20px;
  margin-top: 6%;
  font-size: 35px;
  margin-bottom: 6%;
}
.index .titulo_principal .boton_acceder {
  width: 13%;
  border-radius: 30%;
  margin-top: 3rem;
  background-color: darkcyan;
  font-size: 25px;
  border: none;
  font-weight: bold;
}
.index .titulo_principal .boton_acceder:hover {
  background-color: rgba(0, 139, 139, 0.563);
}

.categorias_titulo {
  padding-top: 12%;
  padding-bottom: 3rem;
}
.categorias_titulo h2 {
  font-size: 40px;
}

.container_categorias {
  background-color: rgba(39, 119, 119, 0.096);
  padding-top: 4%;
  padding-bottom: 2%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.container_categorias .tipos_de_categorias h3 {
  margin-top: 2rem;
  font-size: 20px;
}
.container_categorias .tipos_de_categorias .imagenes_categorias {
  height: 25vh;
  width: 18vw;
  border-radius: 15%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 1s;
}
.container_categorias .tipos_de_categorias .imagenes_categorias:hover {
  transform: scale(1.08);
}

.tipos_de_categorias h3 {
  margin-top: 2rem;
  font-size: 20px;
}

.grid-container .grid-acordion h3 {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 8%;
  font-size: 40px;
}
.grid-container .accordion {
  width: 44%;
  margin-left: 29%;
}
.grid-container .accordion-body img {
  width: 25vw;
  border-radius: 30%;
  align-self: center;
}
.grid-container .accordion-body p {
  margin-top: 1rem;
  text-align: justify;
}
.grid-container .accordion-body strong {
  font-size: 19px;
}
.grid-container .grid-carusel .carousel .carousel-control-prev {
  margin-left: 20%;
}
.grid-container .grid-carusel h3 {
  text-align: center;
  padding-top: 15%;
  padding-bottom: 10%;
  font-size: 40px;
}
.grid-container .carousel-inner {
  padding-right: 30%;
}
.grid-container .carousel-item img {
  width: 500px;
}

.inicio_de_sesion {
  background-image: url(../img/pexels-fauxels.jpg);
  background-size: cover;
}
.inicio_de_sesion .fondo_inicio_sesion {
  background-color: rgba(153, 201, 201, 0.664);
  margin-bottom: 15%;
  border-radius: 40%;
  margin-top: 5%;
  width: 23vw;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.inicio_de_sesion .fondo_inicio_sesion .logo_inicio {
  padding-top: 2rem;
  width: 12vw;
  margin-left: 27%;
}
.inicio_de_sesion .fondo_inicio_sesion .form-check {
  width: 19vw;
}
.inicio_de_sesion .fondo_inicio_sesion .form-check .boton_cuenta {
  margin-left: 10%;
  width: 6vw;
}
.inicio_de_sesion .fondo_inicio_sesion .formulario_inicio_sesion h1 {
  font-size: 31px;
  margin-top: 15%;
  margin-bottom: 2rem;
}
.inicio_de_sesion .fondo_inicio_sesion .formulario_inicio_sesion .form-label, .inicio_de_sesion .fondo_inicio_sesion .form-control {
  font-size: 18px;
}
.inicio_de_sesion .fondo_inicio_sesion .formulario_inicio_sesion .form-label {
  font-weight: bold;
}
.inicio_de_sesion .fondo_inicio_sesion .formulario_inicio_sesion .form-control {
  width: 60%;
}
.inicio_de_sesion .fondo_inicio_sesion .olvide_contraseña {
  margin-left: 28%;
}
.inicio_de_sesion .volver {
  padding-bottom: 9%;
}

.crear_cuenta {
  background-image: url(../img/pexels-fauxels.jpg);
  background-size: cover;
}
.crear_cuenta .fondo_apertura {
  background-color: rgba(153, 201, 201, 0.664);
  border-radius: 30%;
  margin-top: 6%;
  margin-bottom: 8%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.crear_cuenta .fondo_apertura .logo_crear_cuenta {
  width: 16vw;
  margin-top: 3vw;
  margin-left: 9vw;
}
.crear_cuenta .fondo_apertura .apertura {
  gap: 1rem;
  margin-top: 5rem;
  align-items: center;
  width: 33vw;
}
.crear_cuenta .fondo_apertura .apertura .apertura h1 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 10%;
}
.crear_cuenta .fondo_apertura .apertura .form-label {
  font-size: 23px;
  font-weight: bold;
}
.crear_cuenta .fondo_apertura .apertura .form-control {
  font-size: 20px;
}
.crear_cuenta .fondo_apertura .apertura .form-control, .crear_cuenta .fondo_apertura .apertura .form-select {
  width: 65%;
}
.crear_cuenta .fondo_apertura .apertura .form-check {
  margin-left: 5rem;
}
.crear_cuenta .fondo_apertura .apertura .form-check .form-check-label {
  font-size: 20px;
  width: 20vw;
}
.crear_cuenta .volver {
  padding-bottom: 4rem;
}

.titulo_todas_las_asesorias {
  text-align: center;
  margin-top: 8rem;
}

.todas_las_asesorias {
  margin-top: 2%;
}
.todas_las_asesorias .barra_lateral .aside {
  display: flex;
}
.todas_las_asesorias .barra_lateral a {
  width: 12vw;
}
.todas_las_asesorias .grid {
  background-color: rgba(153, 201, 201, 0.664);
  width: 75%;
  border-radius: 5%;
  justify-content: center;
  margin-left: 8%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.todas_las_asesorias .grid .box_categorias {
  margin-top: 8%;
  margin-left: 6%;
  margin-right: 6%;
  width: 90%;
  padding-bottom: 4.5vh;
}
.todas_las_asesorias .grid .box_categorias .card {
  transition-duration: 0.8s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.todas_las_asesorias .grid .box_categorias .card:hover {
  transform: scale(1.1);
}
.todas_las_asesorias .grid .box_categorias .card img {
  max-height: 122px;
}
.todas_las_asesorias .todas_las_categorias {
  margin-top: 8%;
  justify-content: center;
  margin-left: 25%;
}

.about_company .sobre_nosotros {
  margin: 10% 10%;
  border-radius: 5%;
}
.about_company .sobre_nosotros .titulo_conocenos {
  font-size: 40px;
  margin-bottom: 5%;
  margin-top: 10%;
}
.about_company .sobre_nosotros .introduccion {
  width: 90%;
}
.about_company .sobre_nosotros .introduccion p {
  font-size: 22px;
  text-align: justify;
  line-height: 2rem;
  margin-left: 15%;
}
.about_company .sobre_nosotros .cita_motivacional {
  justify-self: center;
  align-self: center;
  font-size: 26px;
  width: 45%;
  margin-left: 15%;
  padding-top: 3rem;
}
.about_company .sobre_nosotros .about_me {
  width: 20vw;
  justify-self: right;
  margin-left: 5%;
}
.about_company .sobre_nosotros .mision_y_vision {
  width: 80%;
}
.about_company .sobre_nosotros .mision_y_vision h2 {
  font-size: 34px;
  margin-bottom: 3rem;
  margin-top: 2rem;
  margin-left: 15%;
}
.about_company .sobre_nosotros .mision_y_vision p {
  font-size: 22px;
  line-height: 2rem;
  text-align: justify;
  margin-left: 15%;
}
.about_company .sobre_nosotros .valores {
  padding-top: 2%;
  padding-bottom: 2%;
  width: 80%;
}
.about_company .sobre_nosotros .valores h2 {
  font-size: 34px;
  margin-left: 15%;
}
.about_company .sobre_nosotros .valores p {
  text-align: justify;
  font-size: 22px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  margin-left: 15%;
  line-height: 2rem;
}
.about_company .sobre_nosotros .valores ul li {
  list-style: disc;
  font-size: 24px;
  line-height: 2.4rem;
  margin-left: 15%;
  margin-bottom: 1.4rem;
  text-align: justify;
}
.about_company .sobre_nosotros .titulo_equipo {
  font-size: 34px;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
.about_company .sobre_nosotros .container_equipo {
  background-color: rgba(153, 201, 201, 0.664);
  flex-wrap: wrap;
  padding-top: 3rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.about_company .sobre_nosotros .container_equipo .equipo {
  width: 50%;
}
.about_company .sobre_nosotros .container_equipo .equipo img {
  width: 13vw;
  border-radius: 50%;
  margin-bottom: 10%;
  align-self: center;
}
.about_company .sobre_nosotros .container_equipo .equipo p {
  width: 70%;
  font-size: 19px;
  text-align: justify;
  margin-left: 12%;
  margin-bottom: 15%;
}
.about_company .sobre_nosotros .container_equipo .last {
  width: 100%;
}
.about_company .sobre_nosotros .container_equipo .last img {
  width: 15vw;
  border-radius: 50%;
  margin-bottom: 4%;
  align-self: center;
}
.about_company .sobre_nosotros .container_equipo .last p {
  width: 50%;
  font-size: 18px;
  text-align: justify;
  margin-bottom: 10%;
  align-self: center;
}

.volver {
  padding: 5%;
}

.equipo-anto {
  background-color: rgba(170, 209, 209, 0.788);
}

.equipo-sele {
  background-color: rgba(74, 173, 173, 0.788);
}

.equipo-marie {
  background-color: rgba(40, 78, 78, 0.788);
}

.equipo-andres {
  background-color: rgba(79, 114, 114, 0.788);
}

.equipo-victor {
  background-color: rgba(148, 180, 180, 0.788);
}

.boton_cuenta {
  width: 8vw;
  border-radius: 40px;
  margin-left: 12%;
  margin-top: 8%;
  margin-bottom: 10%;
  background-color: darkcyan;
  font-size: 17px;
}

.boton_cuenta_nueva {
  width: 8vw;
  border-radius: 40px;
  margin-top: 20px;
  margin-bottom: 10%;
  background-color: darkcyan;
}

.suscribe_boletin {
  background-color: rgba(39, 119, 119, 0.096);
  padding-top: 4%;
  padding-bottom: 4%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin-top: 10%;
  margin-bottom: 10%;
  flex-direction: column;
  align-items: center;
}
.suscribe_boletin h2 {
  font-size: 24px;
  text-align: center;
  width: 80vw;
}
.suscribe_boletin .form-control {
  font-size: 25px;
  width: 20vw;
  margin-left: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
.suscribe_boletin button {
  width: 7rem;
  background-color: darkcyan;
  border: none;
  border-radius: 10%;
  font-size: 25px;
  height: 3rem;
}
.suscribe_boletin button:hover {
  background-color: rgba(153, 201, 201, 0.664);
  width: 8rem;
  height: 4rem;
  border-radius: 30%;
  border: none;
}

.container_pie_de_pagina {
  background-color: rgba(39, 119, 119, 0.562);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.container_pie_de_pagina .pie_de_pagina {
  justify-content: center;
  width: 30%;
  gap: 3rem;
  flex-direction: column;
}
.container_pie_de_pagina .pie_de_pagina .footer {
  width: 18vw;
  font-size: 23px;
}
.container_pie_de_pagina .pie_de_pagina .footer .logo_footer {
  width: 10vw;
  margin-top: 3rem;
}
.container_pie_de_pagina .pie_de_pagina .redes {
  margin-right: 1rem;
  margin-left: 3.5rem;
  list-style: none;
}
.container_pie_de_pagina .pie_de_pagina .redes img {
  width: 2.5vw;
}

@media screen and (max-width: 1023px) {
  .barra_navegacion .header img {
    width: 20vw;
    margin-left: 1rem;
  }
  .barra_navegacion .header .burger {
    display: flex;
    margin-top: 5%;
    margin-left: 55%;
    height: 7vh;
  }
  .header-right {
    width: 0;
  }
  .header-right .navegacion {
    display: none;
    width: 0;
  }
  .boton_acceder {
    width: 13vw;
  }
  .todas_las_asesorias aside {
    display: none;
  }
  .index .titulo_principal {
    margin-top: 22%;
  }
  .index .titulo_principal .sombra_titulo2 {
    margin-top: 15%;
  }
  .index .titulo_principal .boton_acceder {
    width: 16%;
  }
  .container_categorias {
    flex-direction: column;
    align-items: center;
  }
  .container_categorias .tipos_de_categorias {
    padding: 2rem;
  }
  .container_categorias .tipos_de_categorias h3 {
    font-size: 30px;
  }
  .container_categorias .tipos_de_categorias .imagenes_categorias {
    width: 35vw;
  }
  .grid-container .accordion {
    width: 62%;
    margin-left: 20%;
  }
  .grid-container .carousel-inner {
    padding-right: 50%;
  }
  .grid-container .carousel-item img {
    width: 50vw;
  }
  .suscribe_boletin {
    margin-top: 10%;
    margin-bottom: 10%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .suscribe_boletin h2 {
    font-size: 26px;
    text-align: center;
    width: 70vw;
  }
  .suscribe_boletin .form-control {
    font-size: 18px;
    width: 30vw;
    margin-left: 1.5rem;
    margin-bottom: 0.1%;
  }
  .suscribe_boletin button {
    width: 4.5rem;
    font-size: 20px;
    margin-top: 5%;
  }
  .about_company .sobre_nosotros .about_me {
    width: 25vw;
    height: 35vh;
    margin-top: 10%;
  }
  .todas_las_asesorias .grid {
    margin-left: 14%;
  }
  .todas_las_categorias {
    margin-left: 10%;
  }
  .inicio_de_sesion .fondo_inicio_sesion {
    width: 30vw;
  }
  .inicio_de_sesion .fondo_inicio_sesion .logo_inicio {
    margin-left: 32%;
  }
  .inicio_de_sesion .fondo_inicio_sesion .formulario_inicio_sesion {
    width: 30vw;
  }
  .inicio_de_sesion .fondo_inicio_sesion .formulario_inicio_sesion h1 {
    font-size: 29px;
  }
  .inicio_de_sesion .fondo_inicio_sesion .formulario_inicio_sesion .form-label {
    width: 20vw;
  }
  .inicio_de_sesion .fondo_inicio_sesion .formulario_inicio_sesion .form-control {
    width: 24vw;
  }
  .inicio_de_sesion .fondo_inicio_sesion .form-check {
    width: 25vw;
  }
  .inicio_de_sesion .fondo_inicio_sesion .form-check .boton_cuenta {
    width: 9vw;
  }
  .inicio_de_sesion .fondo_inicio_sesion .boton_cuenta_nueva {
    width: 14vw;
  }
  .inicio_de_sesion .fondo_inicio_sesion .olvide_contraseña {
    margin-left: 22%;
  }
  .crear_cuenta .fondo_apertura {
    width: 50vw;
  }
  .crear_cuenta .fondo_apertura .logo_crear_cuenta {
    margin-left: 32%;
    width: 20vw;
    margin-top: 5vw;
  }
  .crear_cuenta .fondo_apertura .apertura {
    width: 50vw;
  }
  .crear_cuenta .fondo_apertura .apertura .form-check {
    margin-left: 0.5rem;
  }
  .crear_cuenta .fondo_apertura .apertura .form-check .form-check {
    width: 28vw;
  }
  .crear_cuenta .fondo_apertura .apertura .form-control, .crear_cuenta .fondo_apertura .apertura .form-select {
    width: 33vw;
  }
  .crear_cuenta .fondo_apertura .apertura .boton_cuenta {
    margin-left: 10%;
    width: 10vw;
  }
}
@media screen and (max-width: 768px) {
  .inicio_de_sesion .fondo_inicio_sesion {
    width: 40vw;
  }
  .inicio_de_sesion .fondo_inicio_sesion .logo_inicio {
    margin-left: 32%;
    width: 20vw;
  }
  .inicio_de_sesion .fondo_inicio_sesion .formulario_inicio_sesion {
    width: 40vw;
  }
  .inicio_de_sesion .fondo_inicio_sesion .formulario_inicio_sesion h1 {
    font-size: 27px;
  }
  .inicio_de_sesion .fondo_inicio_sesion .formulario_inicio_sesion .form-label {
    width: 25vw;
    font-size: 20px;
  }
  .inicio_de_sesion .fondo_inicio_sesion .formulario_inicio_sesion .form-control {
    width: 31vw;
    font-size: 16px;
  }
  .inicio_de_sesion .fondo_inicio_sesion .form-check {
    width: 35vw;
  }
  .inicio_de_sesion .fondo_inicio_sesion .form-check .boton_cuenta {
    width: 11vw;
  }
  .inicio_de_sesion .fondo_inicio_sesion .boton_cuenta_nueva {
    width: 16vw;
  }
  .crear_cuenta form .fondo_apertura {
    width: 60vw;
  }
  .crear_cuenta form .fondo_apertura .logo_crear_cuenta {
    width: 28vw;
    margin-top: 3rem;
    margin-left: 28%;
  }
  .crear_cuenta form .fondo_apertura .apertura {
    width: 60vw;
  }
  .crear_cuenta form .fondo_apertura .apertura h1 {
    font-size: 38px;
  }
  .crear_cuenta form .fondo_apertura .apertura .form-check {
    margin-left: 0.5rem;
    width: 30vw;
  }
  .crear_cuenta form .fondo_apertura .apertura .form-check .form-check-label {
    width: 32vw;
  }
  .crear_cuenta form .fondo_apertura .apertura .form-control, .crear_cuenta form .fondo_apertura .apertura .form-select {
    width: 42vw;
  }
  .crear_cuenta form .fondo_apertura .apertura .boton_cuenta {
    margin-left: 10%;
    width: 14vw;
  }
  .about_me {
    width: 30vw;
  }
}
@media screen and (max-width: 600px) {
  .barra_navegacion .header img {
    width: 25vw;
  }
  .barra_navegacion .header .burger {
    display: flex;
  }
  .header-right {
    display: none;
    margin-top: 20px;
  }
  .index .titulo_principal {
    margin-top: 12%;
  }
  .index .titulo_principal .sombra_titulo1 {
    margin-top: 14%;
    font-size: 35px;
    width: 63vw;
  }
  .index .titulo_principal .sombra_titulo2 {
    display: none;
  }
  .index .titulo_principal .boton_acceder {
    width: 25vw;
    margin-bottom: 25%;
  }
  .container_categorias {
    flex-direction: column;
    align-items: center;
  }
  .container_categorias .tipos_de_categorias .imagenes_categorias {
    width: 50vw;
    height: 30vh;
  }
  .grid-container .accordion {
    width: 62%;
    margin-left: 20%;
  }
  .grid-container .accordion h3 {
    font-size: 38px;
  }
  .grid-container .carousel-item img {
    width: 220px;
  }
  .grid-container .grid-carusel h3 {
    font-size: 38px;
  }
  .grid-container .carousel-inner {
    padding-right: 50%;
  }
  .suscribe_boletin {
    margin-top: 10%;
    margin-bottom: 10%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .suscribe_boletin h2 {
    font-size: 20px;
  }
  .suscribe_boletin input {
    font-size: 18px;
    width: 40vw;
    height: 2.5vh;
    margin-left: 1.5rem;
    margin-top: 3%;
  }
  .suscribe_boletin button {
    width: 4.5rem;
    font-size: 20px;
    margin-top: 5%;
  }
  .container_pie_de_pagina .pie_de_pagina {
    gap: 1.5rem;
    width: 40vw;
  }
  .container_pie_de_pagina .pie_de_pagina .footer {
    width: auto;
  }
  .container_pie_de_pagina .pie_de_pagina .footer .logo_footer {
    width: 30vw;
    margin-top: 1rem;
  }
  .container_pie_de_pagina .pie_de_pagina .redes {
    margin-left: 0.25rem;
  }
  .container_pie_de_pagina .pie_de_pagina .redes img {
    width: 10vw;
    padding-bottom: 1.2rem;
  }
  .container_pie_de_pagina .pie_de_pagina .mobile {
    width: 50vw;
    font-size: 20px;
  }
  .container_pie_de_pagina .pie_de_pagina .footer_remove {
    display: none;
    width: 1vw;
  }
  .barra_lateral {
    display: none;
  }
  .titulo_todas_las_asesorias {
    font-size: 28px;
    padding-bottom: 5%;
  }
  .todas_las_categorias {
    margin-top: 8%;
    justify-content: center;
    margin-left: 2%;
  }
  .suscribe_boletin .form-control {
    font-size: 20px;
    width: 40vw;
    height: 20%;
  }
  .inicio_de_sesion .fondo_inicio_sesion {
    width: 50vw;
  }
  .inicio_de_sesion .fondo_inicio_sesion .logo_inicio {
    margin-left: 30%;
    width: 24vw;
  }
  .inicio_de_sesion .fondo_inicio_sesion .formulario_inicio_sesion {
    width: 50vw;
  }
  .inicio_de_sesion .fondo_inicio_sesion .formulario_inicio_sesion h1 {
    font-size: 27px;
  }
  .inicio_de_sesion .fondo_inicio_sesion .formulario_inicio_sesion .form-label {
    width: 25vw;
    font-size: 19px;
  }
  .inicio_de_sesion .fondo_inicio_sesion .formulario_inicio_sesion .form-control {
    width: 38vw;
  }
  .inicio_de_sesion .fondo_inicio_sesion .form-check {
    width: 42vw;
  }
  .inicio_de_sesion .fondo_inicio_sesion .form-check .boton_cuenta {
    width: 14vw;
  }
  .inicio_de_sesion .fondo_inicio_sesion .olvide_contraseña {
    margin-left: 23%;
  }
  .inicio_de_sesion .fondo_inicio_sesion .boton_cuenta_nueva {
    width: 20vw;
  }
  .crear_cuenta form .fondo_apertura {
    width: 68vw;
  }
  .crear_cuenta form .fondo_apertura .logo_crear_cuenta {
    width: 30vw;
    margin-top: 3rem;
    margin-left: 28%;
  }
  .crear_cuenta form .fondo_apertura .apertura {
    width: 68vw;
  }
  .crear_cuenta form .fondo_apertura .apertura h1 {
    font-size: 35px;
  }
  .crear_cuenta form .fondo_apertura .apertura .form-check {
    margin-left: 0.5rem;
    width: 40vw;
  }
  .crear_cuenta form .fondo_apertura .apertura .form-check .form-check-label {
    width: 32vw;
  }
  .crear_cuenta form .fondo_apertura .apertura .form-control, .crear_cuenta form .fondo_apertura .apertura .form-select {
    width: 53vw;
  }
  .crear_cuenta form .fondo_apertura .apertura .boton_cuenta {
    margin-left: 10%;
    width: 14vw;
  }
  .about_company .sobre_nosotros {
    margin: 3%;
  }
  .about_company .sobre_nosotros .titulo_conocenos {
    font-size: 38px;
  }
  .about_company .sobre_nosotros .introduccion p {
    font-size: 22px;
    line-height: 1.6rem;
  }
  .about_company .sobre_nosotros .centro {
    flex-direction: column;
  }
  .about_company .sobre_nosotros .centro .cita_motivacional {
    font-size: 24px;
    width: 85%;
    margin-left: 5%;
    text-align: justify;
  }
  .about_company .sobre_nosotros .centro .about_me {
    width: 45vw;
    align-self: center;
  }
  .about_company .sobre_nosotros .mision_y_vision {
    width: 90%;
  }
  .about_company .sobre_nosotros .mision_y_vision p {
    font-size: 22px;
    line-height: 1.6rem;
  }
  .about_company .sobre_nosotros .valores {
    width: 90%;
  }
  .about_company .sobre_nosotros .valores p {
    font-size: 22px;
    line-height: 1.6rem;
  }
  .about_company .sobre_nosotros .valores ul li {
    font-size: 22px;
    text-align: justify;
  }
}
@media screen and (max-width: 480px) {
  .header-right {
    display: none;
  }
  .barra_navegacion .header img {
    width: 35vw;
  }
  .barra_navegacion .header .burger {
    display: flex;
  }
  .index {
    padding-bottom: 33%;
  }
  .index .titulo_principal .sombra_titulo1 {
    font-size: 33px;
    margin-top: 15%;
    width: 74%;
    padding: 3%;
  }
  .index .titulo_principal .sombra_titulo2 {
    display: none;
  }
  .index .titulo_principal .boton_acceder {
    width: 40vw;
    margin-top: 25%;
  }
  .categorias_titulo h2 {
    font-size: 40px;
  }
  .container_categorias .tipos_de_categorias .imagenes_categorias {
    width: 300px;
  }
  .container_categorias .tipos_de_categorias h3 {
    font-size: 28px;
  }
  .grid-container .accordion-body img {
    width: 50vw;
  }
  .grid-container .grid-acordion h3 {
    font-size: 34px;
    margin-top: 15%;
  }
  .accordion {
    width: 80%;
    margin-left: 10%;
  }
  .grid-container .grid-carusel h3 {
    font-size: 34px;
  }
  .grid-container .carousel-inner {
    padding-right: 100%;
  }
  .grid-container .carousel-item img {
    width: 330px;
    margin-left: 3rem;
  }
  .suscribe_boletin {
    margin-top: 10%;
    margin-bottom: 10%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .suscribe_boletin h2 {
    font-size: 18px;
    margin-bottom: 8%;
  }
  .suscribe_boletin input {
    font-size: 18px;
    width: 50vw;
    margin-left: 1.5rem;
    margin-top: 3%;
  }
  .suscribe_boletin button {
    width: 4.5rem;
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .container_pie_de_pagina .pie_de_pagina {
    gap: 1.5rem;
    width: 25vw;
  }
  .container_pie_de_pagina .pie_de_pagina .footer {
    width: auto;
    font-size: 19px;
  }
  .container_pie_de_pagina .pie_de_pagina .footer .logo_footer {
    width: 28vw;
    padding-bottom: 1.2rem;
    margin-left: 18%;
  }
  .container_pie_de_pagina .pie_de_pagina .redes {
    margin-left: 0.25rem;
  }
  .container_pie_de_pagina .pie_de_pagina .redes img {
    width: 8vw;
  }
  .container_pie_de_pagina .pie_de_pagina .mobile {
    width: 0;
  }
  .container_pie_de_pagina .pie_de_pagina .footer_remove {
    display: none;
    width: 1vw;
  }
  .inicio_de_sesion .fondo_inicio_sesion {
    width: 65vw;
  }
  .inicio_de_sesion .fondo_inicio_sesion .logo_inicio {
    margin-left: 30%;
    width: 30vw;
  }
  .inicio_de_sesion .fondo_inicio_sesion .formulario_inicio_sesion {
    width: 70vw;
  }
  .inicio_de_sesion .fondo_inicio_sesion .formulario_inicio_sesion h1 {
    font-size: 25px;
  }
  .inicio_de_sesion .fondo_inicio_sesion .formulario_inicio_sesion .form-label {
    width: 35vw;
    font-size: 17px;
  }
  .inicio_de_sesion .fondo_inicio_sesion .formulario_inicio_sesion .form-control {
    width: 35vw;
    font-size: 15px;
  }
  .inicio_de_sesion .fondo_inicio_sesion .form-check {
    width: 54vw;
  }
  .inicio_de_sesion .fondo_inicio_sesion .form-check .boton_cuenta {
    width: 20vw;
  }
  .inicio_de_sesion .fondo_inicio_sesion .olvide_contraseña {
    margin-left: 15%;
    width: 53vw;
  }
  .inicio_de_sesion .fondo_inicio_sesion .boton_cuenta_nueva {
    width: 32vw;
  }
  .crear_cuenta form .fondo_apertura {
    width: 80vw;
  }
  .crear_cuenta form .fondo_apertura .logo_crear_cuenta {
    width: 40vw;
    margin-top: 3rem;
    margin-left: 28%;
  }
  .crear_cuenta form .fondo_apertura .apertura {
    width: 80vw;
  }
  .crear_cuenta form .fondo_apertura .apertura h1 {
    font-size: 33px;
  }
  .crear_cuenta form .fondo_apertura .apertura .form-label {
    font-size: 21px;
  }
  .crear_cuenta form .fondo_apertura .apertura .form-check {
    margin-left: 0.5rem;
    width: 40vw;
  }
  .crear_cuenta form .fondo_apertura .apertura .form-check .form-check-label {
    width: 40vw;
  }
  .crear_cuenta form .fondo_apertura .apertura .form-control, .crear_cuenta form .fondo_apertura .apertura .form-select {
    width: 63vw;
    font-size: 18px;
  }
  .crear_cuenta form .fondo_apertura .apertura .boton_cuenta {
    margin-left: 3%;
    width: 24vw;
  }
  .titulo_todas_las_asesorias {
    width: 80%;
    margin-left: 11%;
  }
  .suscribe_boletin .form-control {
    width: 67vw;
    height: 16%;
    margin: 1%;
  }
  .about_company .sobre_nosotros {
    margin: 1%;
    margin-top: 18%;
  }
  .about_company .sobre_nosotros .titulo_conocenos {
    font-size: 30px;
  }
  .about_company .sobre_nosotros .introduccion p {
    font-size: 16px;
    line-height: 1.4rem;
  }
  .about_company .sobre_nosotros .centro {
    flex-direction: column;
  }
  .about_company .sobre_nosotros .centro .cita_motivacional {
    font-size: 21px;
    line-height: 2rem;
    margin-left: 0;
    text-align: center;
    width: 84%;
  }
  .about_company .sobre_nosotros .centro .about_me {
    margin-top: 0;
    width: 38vw;
    height: 65vw;
    align-self: center;
  }
  .about_company .sobre_nosotros .mision_y_vision h2 {
    margin-top: 25%;
    font-size: 30px;
    margin-bottom: 8%;
  }
  .about_company .sobre_nosotros .mision_y_vision p {
    font-size: 16px;
    line-height: 1.4rem;
    width: 90%;
  }
  .about_company .sobre_nosotros .valores h2 {
    font-size: 30px;
    margin-bottom: 8%;
  }
  .about_company .sobre_nosotros .valores p {
    font-size: 16px;
    line-height: 1.6rem;
    width: 90%;
  }
  .about_company .sobre_nosotros .valores ul li {
    font-size: 16px;
    line-height: 2rem;
    width: 90%;
    text-align: justify;
  }
  .about_company .sobre_nosotros .titulo_equipo {
    font-size: 30px;
  }
  .about_company .sobre_nosotros .container_equipo {
    flex-direction: column;
  }
  .about_company .sobre_nosotros .container_equipo .equipo {
    width: auto;
  }
  .about_company .sobre_nosotros .container_equipo .equipo p {
    font-size: 16px;
  }
  .about_company .sobre_nosotros .container_equipo .equipo img {
    width: 35vw;
  }
  .about_company .sobre_nosotros .container_equipo .last img {
    width: 35vw;
  }
  .about_company .sobre_nosotros .container_equipo .last p {
    width: 70%;
    font-size: 16px;
  }
  .volver {
    text-align: center;
  }
}
@media screen and (max-width: 320px) {
  .inicio_de_sesion .fondo_inicio_sesion {
    width: 72vw;
  }
  .inicio_de_sesion .fondo_inicio_sesion .logo_inicio {
    margin-left: 30%;
    width: 34vw;
  }
  .inicio_de_sesion .fondo_inicio_sesion .formulario_inicio_sesion {
    width: 72vw;
  }
  .inicio_de_sesion .fondo_inicio_sesion .formulario_inicio_sesion h1 {
    font-size: 22px;
  }
  .inicio_de_sesion .fondo_inicio_sesion .formulario_inicio_sesion .form-label {
    width: 40vw;
    font-size: 15px;
  }
  .inicio_de_sesion .fondo_inicio_sesion .formulario_inicio_sesion .form-control {
    width: 60vw;
    font-size: 13px;
  }
  .inicio_de_sesion .fondo_inicio_sesion .form-check {
    width: 64vw;
  }
  .inicio_de_sesion .fondo_inicio_sesion .form-check .boton_cuenta {
    width: 30vw;
    font-size: 15px;
  }
  .inicio_de_sesion .fondo_inicio_sesion .form-check .boton_cuenta a {
    color: black;
  }
  .inicio_de_sesion .fondo_inicio_sesion .olvide_contraseña {
    margin-left: 30%;
    font-size: 15px;
  }
  .inicio_de_sesion .fondo_inicio_sesion .boton_cuenta_nueva {
    width: 34vw;
    font-size: 15px;
  }
  .inicio_de_sesion .fondo_inicio_sesion .boton_cuenta_nueva a {
    color: black;
  }
  .inicio_de_sesion .volver {
    padding-bottom: 45%;
  }
  .crear_cuenta form .fondo_apertura {
    width: 90vw;
  }
  .crear_cuenta form .fondo_apertura .logo_crear_cuenta {
    width: 45vw;
    margin-top: 3rem;
    margin-left: 28%;
  }
  .crear_cuenta form .fondo_apertura .apertura {
    width: 90vw;
  }
  .crear_cuenta form .fondo_apertura .apertura h1 {
    font-size: 29px;
  }
  .crear_cuenta form .fondo_apertura .apertura .form-label {
    font-size: 20px;
  }
  .crear_cuenta form .fondo_apertura .apertura .form-check {
    margin-left: 0.5rem;
    width: 60vw;
  }
  .crear_cuenta form .fondo_apertura .apertura .form-check .form-check-label {
    width: 55vw;
    font-size: 18px;
  }
  .crear_cuenta form .fondo_apertura .apertura .form-control, .crear_cuenta form .fondo_apertura .apertura .form-select {
    width: 72vw;
    font-size: 16px;
  }
  .crear_cuenta form .fondo_apertura .apertura .boton_cuenta {
    margin-left: 3%;
    width: 24vw;
  }
  .index {
    padding-bottom: 30%;
  }
  .index .titulo_principal .sombra_titulo1 {
    font-size: 30px;
    margin-top: 13%;
    width: 80%;
    padding: 3%;
  }
  .index .titulo_principal .sombra_titulo2 {
    display: none;
  }
  .index .titulo_principal .boton_acceder {
    width: 44vw;
    margin-top: 40%;
  }
  .container_categorias .tipos_de_categorias .imagenes_categorias {
    width: 60vw;
    height: 65vw;
  }
  .categorias_titulo h2 {
    font-size: 40px;
  }
  .accordion {
    width: 80%;
    margin-left: 10%;
  }
  .grid-container .grid-acordion h2 {
    padding-top: 30%;
    padding-bottom: 20%;
  }
  .grid-container .grid-acordion {
    width: 100%;
  }
  .grid-container .grid-acordion-body img {
    width: 50vw;
  }
  .grid-container .grid-carusel h3 {
    font-size: 40px;
  }
  .grid-container .carousel-inner {
    padding-right: 100%;
  }
  .grid-container .carousel-item img {
    width: 90vw;
    margin-left: 1rem;
  }
  .barra_navegacion .header img {
    width: 40vw;
  }
}/*# sourceMappingURL=estilos.css.map */