
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* RESET*/
*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;}


/*Codigo reutilizable, que se usa en todas las páginas */    
   

    .flex{display: flex;}


    .volver{
        justify-content: center;
        text-align: center;
        font-size: 20px;}
    

    /*MENU DE NAVEGACION*/
    
 
    .barra_navegacion{ /*height: 14.5vh;*/
    background-color:rgba(39, 119, 119, 0.562);}
    .header .burger{display: none;
        justify-content: right;
        
       }
  .header{
padding: 1rem;}

    .nav-bar{
        gap: 6rem;
      
    }
    .nav_superior{padding-bottom: 1.3rem;
    padding-top: 1rem;}
    .header-right{justify-content: end;}
.nav-bar a{font-size: 20px;}

    a{text-decoration: none;
        color:black;
        
    }
    .menu{list-style: none;
   font-weight: bold; }
    
    #pais{
    width: 8rem;
font-size: 20px;}


.header img{width: 15vw;}


    
    /* PAGINA PRINCIPAL*/
    
.index{background-image: url(../img/pexels-fauxels-3183198.jpg);
    background-size: cover;
    padding-bottom: 10%;
    
/*height: 70vh;*/}
    .titulo_principal{
    padding-top: 8%;}
    
    .titulo_principal h1{
    margin-top: 5rem;
margin-bottom: 6%;
font-size: 50px;
}

.titulo_principal h4{
font-size: 30px;
margin-bottom: 2rem;
}
.sombra_titulo {
background-color: rgba(0, 0, 0, 0.162);
text-align: center;
width: 62%;
border-radius:19%;}
    
.boton_acceder{width: 10vw;
border-radius: 30%;
margin-top: 4rem;
margin-bottom: 5%;
background-color: darkcyan;
font-size: 20px;
border: none;
font-weight: bold;}

.boton_acceder:hover{background-color:rgba(0, 139, 139, 0.563) ;}
    
    /* CATEGORIAS DE ASESORIAS*/
    .categorias_titulo h2{
font-size: 40px;
margin-top: 6%;
}
.categorias_titulo{padding-bottom: 3rem;}
 
.container_categorias{background-color:rgba(39, 119, 119, 0.096) ;
padding-top: 4%;
padding-bottom: 2%;}
.tipos_de_categorias h3{margin-top: 2rem;
font-size: 20px;
}

.imagenes_categorias:hover {width: 20vw;
height: 30vh;}
    .imagenes_categorias{    height: 28vh;
        width: 15vw;
    border-radius: 15%;
    }

    .clientes_resena{padding-left:6rem ;
    padding-right: 6rem;
padding-bottom: 6rem;
background-color:rgba(153, 201, 201, 0.664)}

.clientes_resena h3{font-size: 40px;
    margin-top: 6%;
    justify-content: space-between;
   padding-right: 4rem;
font-size: 35;}
    /* NUESTROS CLIENTES */

    .grid-container{display: grid;
    grid-template-columns: 1fr ;
    grid-column-gap: 10%;
justify-items: center;}

.accordion-body img {width:20vw;
border-radius: 30%;
align-self: center;}
.accordion-body p{margin-top: 1rem;
text-align: center;}

.accordion{width: 40%;
margin-left: 29%};

.accordion-button{width: 43.9vw;}
 .carousel-item img{ width: 32vw;} 

 .grid-acordion h3  {text-align: center;
    padding-top:4rem;
    padding-bottom: 4%;
    font-size: 40px;
}

 .grid-carusel h3  {text-align: center;
    padding-top:15%;
    padding-bottom: 10%;
    font-size: 40px;    
}
.clientes{flex-direction: column;
       justify-content: center;    
    }

 .ficha_clientes{margin-left: 20vw;}


    /*SUSCRIPCION AL BOLETIN*/

    .suscribe_boletin{margin-top: 10%;
        margin-bottom: 10%;
        flex-direction: column;
        align-items: center;

    }
    .suscribe_boletin h2{font-size: 24px;
    text-align: center;
width: 80vw;}
    
        .suscribe_boletin input{
        font-size: 25px;
    width: 25vw;
  
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem
    }
    .suscribe_boletin button{width: 6rem;
    font-size: 20px;}

    .suscribe_boletin button:hover{background-color:rgba(153, 201, 201, 0.664) ;
    width: 8rem;
height: 4rem;
border-radius: 30%;
border: none;}
    
    
    
    /* PIE DE PAGINA */
    
    .container_pie_de_pagina{background-color: rgba(39, 119, 119, 0.562); 
}
    .pie_de_pagina{
        justify-content: center;
    width: 30%;
        gap: 3rem;
    flex-direction: column;}
    .footer{list-style: none;
        width: 18vw;
  }
  
  .logo_footer{width: 8vw;
margin-top: 3rem;
}
  .redes{margin-right: 1rem;
margin-left: 3.5rem;
list-style: none;
}
 
    /*Pagina Inicion de Sesion*/

    .inicio_de_sesion{
    background-image: url(../img/pexels-fauxels-3183198.jpg);
background-size: cover;}

    .inicio_de_sesion .logo_inicio{
       padding-top: 2rem;
       width: 20vw;
       margin-left: 6.5rem;
    }
    .fondo_inicio_sesion{background-color: rgba(153, 201, 201, 0.891);
        margin-bottom: 15%;
        border-radius: 40%;
        margin-top: 5%;
        width: 40vw;
}

.inicio_de_sesion .olvide_contraseña{margin-left: 28%;
}
.formulario_inicio_sesion h1{font-size: 40px; margin-top: 15%;
    margin-bottom: 2rem;
    }

.formulario_inicio_sesion label, input {font-size: 20px;}

.formulario_inicio_sesion  input {width: 60%;}


.inicio_de_sesion .volver{ margin-top: 3%;
margin-bottom: 8%;}

.boton_cuenta_nueva{width: 10vw;
     border-radius: 40px;
    margin-top:8%;
    margin-bottom: 10%;
    background-color: darkcyan;
   }
/* Apertura de cuenta*/   

.crear_cuenta{
 background-image: url(../img/pexels-fauxels-3183198.jpg);
background-size: cover;
}
.logo_crear_cuenta{width: 20vw;
    margin-top: 3vw;
    margin-left: 23vw;}

.fondo_apertura{background-color: rgb(153, 201, 201);
width: 65vw;
border-radius: 40%;
margin-top: 3%;
margin-bottom: 8%;
}
.apertura{
    gap:1rem;
    margin-top: 5rem;
    align-items: center;

  }

.form-control {width: 30vw;}
.form-select {width: 30vw;}
.apertura h1, label,input{
font-size: 25px;
}

.apertura h1{font-size: 40px;
    text-align: center;
    margin-bottom: 10%; 
}
.form-check-label{font-size: 14px;
}
.empresa{margin-bottom: 2rem;}
.apertura label{font-weight: bold;}

#genero{height:2.5vh;
font-size: 20px;}

.crear_cuenta a{margin-top: 2%;
margin-bottom: 5%;}
/*  BOTONES*/    
.boton_cuenta{width: 8vw;
border-radius: 40px;
margin-right: 25px;
margin-top:8%;
margin-bottom: 10%;
background-color: darkcyan;
font-size: 17px;}

/*Sobre nosotros*/


.sobre_nosotros{background-color:rgba(233, 231, 224, 0.705);
    flex-direction: column;
    margin: 10% 10%;
    border-radius: 5%;
}
.titulo_conocenos{text-align:center ;
font-size: 40px;
margin-bottom: 5%;
margin-top: 10%;}
.introduccion{flex-direction: column;
  width: 90%;
}
.introduccion p{font-size: 18px;
text-align: justify;
line-height: 1.7rem;
flex-direction: column;
margin-left: 15%;
}

.cita_motivacional{justify-self: center;
align-self: center;
font-size: 23px;
width: 45%;
margin-left: 15%;
padding-top: 3rem;}
.about_company{flex-direction: column;
justify-content: center;
background-image: url(../img/pexels-fauxels-3183198.jpg);
background-size:cover;}

.about_company .volver{justify-self: center;
margin-left: 10%;}
.about_me{
width: 20vw;
height: 45vh;
justify-self: right;
margin-left: 5%;
}

.mision_y_vision{flex-direction: column;
width: 80%;}
.mision_y_vision h2{
font-size: 28px;
margin-bottom: 3rem;
margin-top: 2rem;
margin-left: 15%;}
.mision_y_vision p{font-size: 18px;
    line-height: 1.5rem;
    
   text-align: justify;
   margin-left: 15%;
   }

.valores{padding-top:2%;
padding-bottom: 2%;
width:80%}
.valores h2{
    font-size: 28px;
    margin-left: 15%;
}
.valores p {
    font-size: 18px;
margin-bottom: 1.5rem ;
margin-top: 1.5rem;
margin-left: 15%;
line-height: 1.5rem;}
.valores ul li{
    font-size: 18px;
list-style: none;
gap:1rem;
line-height: 1.5rem;
margin-left: 15%;}


.titulo_equipo{
    font-size: 28px;
text-align:  center;
padding-top: 5%;
padding-bottom: 5%;}

.equipo{flex-direction: column;
    width: 50%;
}
.last{flex-direction: column;
    width: 100%;}

.last img{width: 15vw;
    border-radius: 50%;
    margin-bottom:10%;
    
    align-self: center}
    .last p{width: 50%;
        font-size: 18px;
    text-align: justify;
    margin-bottom: 15%;
    align-self: center}
    
.equipo img{width: 15vw;
border-radius: 50%;
margin-bottom:10%;
margin-left: 10%;
align-self: center}
.equipo p{width: 70%;
    font-size: 18px;
text-align: justify;
margin-left: 12%;
margin-bottom: 15%;}

.container_equipo{background-color: rgba(153, 201, 201, 0.664);
flex-wrap: wrap;
padding-top: 3rem;}


/*Preguntas Frecuentes  */

.preguntas{flex-direction: column;
   
    background-image: url(../img/pexels-fauxels-3183198.jpg);
background-size: cover;}

.fondo_preguntas{
    margin: 7rem;
    background-color: rgba(113, 167, 167, 0.604);
border-radius: 10%;}

.preguntas h1{
font-size: 38px;
text-align: center;
margin-top: 5rem;
margin-bottom: 5rem;}

.preguntas_frecuentes{
    flex-direction: column;
    margin-left: 10%;
}

.preguntas_frecuentes h2 {
    font-size: 28px;
    line-height: 1.5;
    margin-top: 1rem;
    margin-bottom: 1rem;}

    .preguntas_frecuentes p {
        font-size: 20px;
        line-height: 1.5;
        margin-top: 1rem;
        margin-bottom: 1rem;
    width: 80%;
text-align: justify;}


/*TIPOS DE ASESORIAS*/

.titulo_todas_las_asesorias{text-align: center;
margin-top: 8rem;}
.todas_las_asesorias{
    margin-top: 2%;
}

/* sidebar*/ 

aside{ 
width:14vw;
justify-content: left;}
.side-bar{flex-direction: column;
    margin-top: 15%;
    }
aside a {width: 18vw;}
.side-bar li{list-style: none;}    

aside{display: flex;}

.list-group .active{background-color: rgba(39, 119, 119, 0.562);
border-color: black;}
    .list-group a:hover{background-color: rgb(18, 143, 165);
   }
/* grid plantilla de asesorias*/
.grid{
background-color: rgba(153, 201, 201, 0.664);
width: 75%;
border-radius: 5%;
justify-content: center;
margin-left: 8%;
}

.box_categorias{
margin-top: 8%;
margin-left: 6%;
margin-right: 6%;
width: 90%;
padding-bottom: 4.5vh;
}


.box_categorias img{transition: height 2s;
transition: 2s;}
.box_categorias img:hover{height: 200px;
width: 300px;}


.box_categorias button{align-self: center;}

.box_categorias button:hover{background-color: rgb(140, 226, 219);}

.todas_las_categorias  {margin-top: 8%;
justify-content: center;
margin-left: 25%;}

.todas_las_categorias h2{}




/* TABLET*/
@media screen and(max-width:1023px){

    /* modificaciones generales navbar */ 
    
    .header-right{display:none;}
    .header img{width: 24vw;
    margin-left: 1rem;}
   .header .burger{ display: flex;
        margin-top: 2rem;
        height: 7vh;}
    


/* index */

.boton_acceder{width: 13vw;}


.container_categorias{flex-direction: column;
align-items: center;}
.tipos_de_categorias{padding: 2rem;}
.imagenes_categorias {width: 35vw;}

.grid-container{}
.accordion-body img{width: vw}
.carousel-item img {width: 55vw;}


/* seccion de subscricion a boletin*/ 
.suscribe_boletin{margin-top: 10%;
    margin-bottom: 10%;
justify-content: center;
flex-direction: column;
align-items: center;}
.suscribe_boletin h2{font-size: 20px;}
    .suscribe_boletin input{
    font-size: 18px;
width: 40vw;
height: 2.5vh;
margin-left: 1.5rem;
margin-top: 3%;
}
.suscribe_boletin button{width: 4.5rem;
font-size: 20px;
margin-top: 5%;}

}



/* MOBILE*/

@media screen and  (max-width: 600px) {
     /* modificaciones generales navbar */ 
     .header-right{display:none;}
     .header .burger{ display: flex;
         margin-top: 20px;}
        
     /* index */
     .header img{width: 25vw;}
     .boton_acceder{width: 25vw;}
     .imagenes_categorias {width: 45vw;
     height: 30vh;}
     .titulo_principal h1{margin-top: 6.5rem;
    font-size: 40px;}
     .titulo_principal h4{display:none;
     .sombra_titulo {width: 85%;
      padding: 1rem;}
     .box_categorias button{width: 40%;}
 
     /* seccion de subscricion a boletin*/ 
     .suscribe_boletin{margin-top: 10%;
         margin-bottom: 10%;
     justify-content: center;
     flex-direction: column;
     align-items: center;}
     .suscribe_boletin h2{font-size: 20px;}
         .suscribe_boletin input{
         font-size: 18px;
     width: 40vw;
     height: 2.5vh;
     margin-left: 1.5rem;
     margin-top: 3%;
     }
     .suscribe_boletin button{width: 4.5rem;
     font-size: 20px;
     margin-top: 5%;}
    
}
     /* footer*/
.redes{margin-left: 0.25rem;}
.redes img{
width: 10vw;
padding-bottom: 1.2rem;}
.logo_footer{width: 30vw;
margin-top: 1rem;}
.pie_de_pagina{gap:1.5rem;
width:40vw;}
.mobile{width: 20vw;}
.footer{width: auto;}
.footer_remove{display: none;
width: 1vw;}


/* pagina categorias */
.barra_lateral{display: none;}
.todas_las_categorias  {margin-top: 8%;
    justify-content: center;
    margin-left: 2%;}
   

}
@media screen and  (max-width: 480px) {

    /* modificaciones generales navbar */ 
    .header-right{display:none;}
    .header .burger{ display: flex;
        margin-top: 20px;   
}
    
    /* index */
    .index{padding-bottom: 18%;}
    .header img{width: 25vw;}
    .boton_acceder{width: 35vw;}
    .imagenes_categorias {width: 32vw;
    height: 17vh;}
    .titulo_principal h1{font-size: 30px;
        margin-top:6%;
        color:antiquewhite
   }
 
.sombra_titulo {background-color: rgba(0, 0, 0, 0.714);
  width: 70%;
padding: 1rem;}
    .titulo_principal h4{display:none}
    .box_categorias button{width: 40%;}
    .imagenes_categorias {width: 45vw;}
    /* seccion de subscricion a boletin*/ 
    .suscribe_boletin{margin-top: 10%;
        margin-bottom: 10%;
    justify-content: center;
    flex-direction: column;
    align-items: center;}
    .suscribe_boletin h2{font-size: 20px;}
        .suscribe_boletin input{
        font-size: 18px;
    width: 50vw;
    
    margin-left: 1.5rem;
    margin-top: 3%;
    }
    .suscribe_boletin button{width: 4.5rem;
    font-size: 20px;
    margin-top: 5%;}}

.accordion{width: 80%;
    margin-left: 10%}
    .carousel-item img {width: 80vw;
    margin-left: 1.2rem;}
/* pagina de categorias */


     /* footer*/
     .redes{margin-left: 0.25rem;}
     .redes img{
     width: 8vw;
     padding-bottom: 1.2rem;}
     .logo_footer{width: 30vw;
     margin-top: 1rem;}
     .pie_de_pagina{gap:1.5rem;
     width:40vw;}
     .mobile{width: 20vw;}
     
     .footer{width: auto;}
     .footer_remove{display: none;
     width: 1vw;}
     
