.suscribe_boletin{
    background-color: $colorContainer;
    padding-top: 4%;
    padding-bottom: 4%;
    box-shadow: $colorSombraContainer;
    margin-top: 10%;
    margin-bottom: 10%;
    flex-direction: column;
    align-items: center;

    h2{
        font-size: 24px;
        text-align: center;
        width: 80vw;
        }

    .form-control{
        font-size: 25px;
        width: 20vw;
        margin-left: 1.5rem;
        margin-top: 3rem;
        margin-bottom: 1.5rem
        }
    button{
        width: 7rem;
        background-color: $colorBoton;
        border: none;
        border-radius: 10%;
        font-size: 25px;
        height:3rem ;
        
        &:hover{
            background-color: $colorSecundario ;
            width: 8rem;
            height: 4rem;
            border-radius: 30%;
            border: none;

        }
    }        
}