.boton_cuenta{
    width: 8vw;
    border-radius: 40px;
    margin-left: 12%;
    margin-top:8%;
    margin-bottom: 10%;
    background-color: $colorBoton;
    font-size: 17px;}

.boton_cuenta_nueva{
    width: 8vw;
    border-radius: 40px;
    margin-top:20px;
    margin-bottom: 10%;
    background-color: $colorBoton;
   
    } 