.crear_cuenta {
    background-image: url(../../img/pexels-fauxels-3183198.jpg);
    background-size: cover;

    .fondo_apertura{
    background-color: $colorSecundario;
    width: 30vw;
    border-radius: 40%;
    margin-top: 6%;
    margin-bottom: 8%;
    box-shadow: $colorSombraContainer;

        .logo_crear_cuenta{
        width: 16vw;
        margin-top: 3vw;
        margin-left: 8vw;
            }

    .apertura{
        gap:1rem;
        margin-top: 5rem;
        align-items: center;

        .apertura h1{font-size: 25px;
            text-align: center;
            margin-bottom: 10%; 
        }
        .apertura label {
            font-size: 25px;
            font-weight: bold;
        }

        .apertura input{
            font-size: 25px;
        }

        .form-control, .form-select {
            width: 15vw;}
    }


    }












}