.inicio_de_sesion{
    background-image: url(../img/pexels-fauxels.jpg);
    background-size: cover;

    .fondo_inicio_sesion{
        background-color: $colorSecundario;
        margin-bottom: 15%;
        border-radius: 40%;
        margin-top: 5%;
        width: 23vw;
        box-shadow: $colorSombraContainer;

        .logo_inicio{
            padding-top: 2rem;
            width: 12vw;
            margin-left: 27%;
            
        }
        .form-check {
            width: 19vw;

            .boton_cuenta{
                margin-left:10% ;
                width: 6vw;}

        }
        
        .formulario_inicio_sesion h1{
            font-size: 31px; 
            margin-top: 15%;
            margin-bottom: 2rem;
            }
        .formulario_inicio_sesion .form-label, .form-control{
            font-size: 18px;
        }
        .formulario_inicio_sesion .form-label{
            font-weight: bold;
        }
        .formulario_inicio_sesion .form-control {
            width: 60%;
        }
        
        .olvide_contraseña{
            margin-left: 28%;
        }      
    }

    .volver{
        
        padding-bottom: 9%;}
}