.crear_cuenta {
    background-image: url(../../img/pexels-fauxels-3183198.jpg);
    background-size: cover;

    .fondo_apertura{
    background-color: $colorSecundario;
    border-radius: 40%;
    margin-top: 6%;
    margin-bottom: 8%;
    box-shadow: $colorSombraContainer;

        .logo_crear_cuenta{
        width: 16vw;
        margin-top: 3vw;
        margin-left: 6vw;
            }

    .apertura{
        gap:1rem;
        margin-top: 5rem;
        align-items: center;

        .apertura h1{font-size: 25px;
            text-align: center;
            margin-bottom: 10%; 
        }
        .form-label {
            font-size: 23px;
            font-weight: bold;
        }

        .form-control{
            font-size: 20px;
        }

        .form-control, .form-select {
            width: 60%;
                }
            
                .form-check{
                    margin-left: 5rem;

                    .form-check-label{
                    font-size: 20px;
                    width: 20vw;
                    
                    }
                } 
            }
        }

    .volver{
                padding-bottom: 4rem;
            }
}