.titulo_todas_las_asesorias{
    text-align: center;
    margin-top: 8rem;
}

.todas_las_asesorias{
    margin-top: 2%;

    .barra_lateral .aside{ display: flex;}
    .barra_lateral a {
         width: 12vw;
            
        }
    
    .grid{
        background-color: $colorSecundario;
        width: 75%;
        border-radius: 5%;
        justify-content: center;
        margin-left: 8%;
        box-shadow: $colorSombraContainer;

        .box_categorias{
            margin-top: 8%;
            margin-left: 6%;
            margin-right: 6%;
            width: 90%;
            padding-bottom: 7vh;
            
            .card{
                transition-duration: 0.8s;
                box-shadow: $colorSombraCategoria;
                &:hover {
                    transform: scale(1.1)
                    }

                img{
                    max-height: 122px;
                }
            }
        }
    
    }

.todas_las_categorias  {
    margin-top: 8%;
    justify-content: center;
    margin-left: 25%;
    }
}