.index {
    background-image: url(../img/pexels-fauxels.jpg);
    background-size: cover;
    padding-bottom: 10%;

    .titulo_principal{
        margin-top: 20%;

        .sombra_titulo1{
            background-color: $colorPadding1;
            text-align: center;
            width:  60%;
            border-radius:19%;
            font-size: 53px;
            font-weight: bold;
        
        }

        .sombra_titulo2{
            background-color: $colorPadding1;
            text-align: center;
            width: 58%;
            border-radius:19%;
            font-size: 20px;
            margin-top: 6%;
            font-size: 35px;
            margin-bottom: 6%;
        
        }
        
        .boton_acceder{
            width: 13%;
            border-radius: 30%;
            margin-top: 3rem;
            background-color: $colorBoton;
            font-size: 25px;
            border: none;
            font-weight: bold;

            &:hover{background-color:rgba(0, 139, 139, 0.563) ;}

                    }
                }
            }    

        
    

