// TABLET
@media screen and (max-width:1023px)
{

// NAVBAR
    .barra_navegacion .header img {
        width: 20vw;
        margin-left: 1rem;
    }

    .barra_navegacion .header .burger{
        display: flex;
        margin-top: 5%;
        margin-right: 5%;
        height: 7vh;

    }
    .header-right{
        display:none;
    }

        .boton_acceder{
        width: 13vw;
        }

    .todas_las_asesorias aside{
        display: none;
    }
/// PAGINA INDEX CATEGORIAS

    .index .titulo_principal {
        margin-top: 22%;
    }
    .index .titulo_principal .sombra_titulo2 {
        margin-top: 15%;
     }

     .index .titulo_principal .boton_acceder {
        width: 16%;
     }
    .container_categorias{
        flex-direction: column;
        align-items: center;

        .tipos_de_categorias{
            padding: 2rem;
            
            h3{
                font-size: 30px;
            }
            .imagenes_categorias {
                width: 35vw;
            }

        }
    }

    .grid-container .accordion {
        width:62%;
        margin-left: 20% ;
    }

    .grid-container .carousel-inner {
        padding-right: 50% ;
    }
    
    .grid-container .carousel-item img {
        width: 50vw;
    }
// FORMULARI DE SUBSCRIPCION
    .suscribe_boletin{
        margin-top: 10%;
        margin-bottom: 10%;
        justify-content: center;
        flex-direction: column;
        align-items: center;


        h2 {
            font-size: 26px;
            text-align: center;
            width: 70vw;
        }

        .form-control{
            font-size: 18px;
            width: 30vw;
            margin-left: 1.5rem;
            margin-bottom: 0.1%;
            

        }

        button{
            width: 4.5rem;
            font-size: 20px;
            margin-top: 5%;

            }
        }
     /// PAGINA SOBRE NOSOTROS   
     .about_company .sobre_nosotros .about_me {
        width:25vw;
        height: 35vh;
        margin-top: 10%;
    }

// PAGINA CATEGORIAS


    .todas_las_asesorias .grid {
        margin-left: 14%;
    }

    .todas_las_categorias {
        margin-left: 10%;

    }
    // inicio de sesion
    .inicio_de_sesion {

        .fondo_inicio_sesion{
            width: 40vw;

            .logo_inicio{
                margin-left: 32%;

            }

            .formulario_inicio_sesion{
                width: 40vw;

                h1{

                }
                .form-label{
                    width: 25vw;

                }
                .form-control{
                    width: 28vw;

                }
            }

            .form-check{
                width: 32vw;

                .boton_cuenta{
                    width: 9vw;

                }

            }
            
            .boton_cuenta_nueva{
                width: 14vw;

            }

            .olvide_contraseña{
                margin-left: 22%;
            }
        }

    }
// CREAR CUENTA
   .crear_cuenta{

            .fondo_apertura {
                width: 50vw;
    
                .logo_crear_cuenta{
                    margin-left: 32%;
                    width: 20vw;
                    margin-top: 5vw;
    
                }
                .apertura{
                    width: 50vw;
    
                    .form-check{ 
                        margin-left:0.5rem ;
                    
                    .form-check{
                        width: 28vw;
                    }}
    
                    .form-control, .form-select {
                        width: 33vw;
                        }
                    .boton_cuenta{
                        margin-left: 10%;
                        width: 10vw;
    
                        }
                    }
                
                }
            
        }
    
}

@media screen and (max-width: 768px)
{

    // inicio de sesion
    .inicio_de_sesion {

        .fondo_inicio_sesion{
            width: 48vw;

            .logo_inicio{
                margin-left: 32%;
                width: 20vw;

            }

            .formulario_inicio_sesion{
                width: 48vw;

                h1{
                    font-size: 37px;
                }

                .form-label{
                    width: 25vw;
                    font-size: 22px;
                }

                .form-control{
                    width: 31vw;
                 }
            }

            .form-check{
                width: 38vw;

                .boton_cuenta{
                    width: 11vw;
                 }

            }

            .boton_cuenta_nueva{
                width: 16vw;

            }
        }
    }

    /// PAGINA CREAR CUENTA//
  
    
        .crear_cuenta{

            form{
                .fondo_apertura {
                    width: 60vw;
        
                    .logo_crear_cuenta{
                        width: 28vw;
                    margin-top: 3rem;
                    margin-left: 28%;
        
                    }
                    .apertura{
                        width: 60vw;
    
                        h1{
                            font-size:38px ;
                        }
        
                        .form-check{ 
                            margin-left:0.5rem ;
                            width: 30vw;
                        
                            .form-check-label{
                                width: 32vw;
                            }
                        }
        
                        .form-control, .form-select {
                            width: 42vw;
                            }
                        .boton_cuenta{
                            margin-left: 10%;
                            width: 14vw;
        
                            }
                        }
                    
                    }

            }

            
            
        }

    

    
    /// PAGINA SOBRE NOSOTROS//
    .about_me{
        width:30vw
    }

}

// MOBILE
@media screen and  (max-width: 600px) 
{
//NAVBAR
    .barra_navegacion .header img{
        width: 25vw;
    }
    .barra_navegacion .header .burger{ 
    display: flex;
    
    }
    .header-right{
    display:none;
    margin-top: 20px;
    }

// PAGINA INDEX

    .index .titulo_principal {margin-top: 12%;
    
        .sombra_titulo1{
            margin-top: 14%;
            font-size: 35px;
            width: 63vw;
            }

        .sombra_titulo2{
            display:none;
        }

        .boton_acceder{
            width: 25vw;
            margin-bottom: 25%;
            }
    }
   
    .container_categorias{
        flex-direction: column;
        align-items: center;

        .tipos_de_categorias .imagenes_categorias {
            width: 50vw;
            height: 30vh;
            }
    }
    .grid-container .accordion {
        width:62%;
        margin-left: 20% ;

        h3{
            font-size:45px ;
        }
    }
    .grid-container .carousel-item img {
        width: 220px;
    }

    .grid-container .grid-carusel h3{
        font-size: 45px;
    }
    .grid-container .carousel-inner {
        padding-right: 50% ;
    }
    
//SUBSCRIPCION DE BOLETIN

    .suscribe_boletin{
        margin-top: 10%;
    margin-bottom: 10%;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h2{
        font-size: 20px;

    }

    input {
        font-size: 18px;
        width: 40vw;
        height: 2.5vh;
        margin-left: 1.5rem;
        margin-top: 3%;
    }

    button{
        width: 4.5rem;
        font-size: 20px;
        margin-top: 5%;
    }
}

// FOOTER
.container_pie_de_pagina{

    .pie_de_pagina{
        gap:1.5rem;
        width:40vw;
    
        .footer{
            width: auto;
    
            .logo_footer{
                width: 30vw;
                margin-top: 1rem;
            }
    
        }  
        
        .redes{
            margin-left: 0.25rem;
    
            img{
                width: 10vw;
                padding-bottom: 1.2rem;
                }
            }
        .mobile{
            width: 50vw;
            font-size: 20px;
            }
    
       
        .footer_remove{
            display: none;
            width: 1vw;
            }
        }

}

//PAGINA DE CATEGORIAS
    .barra_lateral{
    display: none;
    }
    .titulo_todas_las_asesorias{
        font-size: 28px;
        padding-bottom: 5%;

    }
    .todas_las_categorias  {
    margin-top: 8%;
    justify-content: center;
    margin-left: 2%;
    }

    .suscribe_boletin .form-control {
        font-size: 20px;
        width: 40vw;
        height: 20%;
    }

    
 // inicio de sesion
 .inicio_de_sesion {

    .fondo_inicio_sesion{
        width: 54vw;

        .logo_inicio{
            margin-left: 30%;
            width: 24vw;

        }

        .formulario_inicio_sesion{
            width: 54vw;

            h1{
                font-size: 33px;
            }

            .form-label{
                width: 25vw;
                font-size: 22px;
            }
            
            .form-control{
                width: 38vw;
             }
        }

        .form-check{
            width: 42vw;

            .boton_cuenta{
                width: 14vw;
             }

        }

        .olvide_contraseña {
            margin-left: 23%;

        }
        
        .boton_cuenta_nueva{
            width: 20vw;

            }
        }
    }
        

/// PAGINA CREAR CUENTA//
  
    
.crear_cuenta{

    form{
        .fondo_apertura {
            width: 68vw;

            .logo_crear_cuenta{
                width: 30vw;
            margin-top: 3rem;
            margin-left: 28%;

            }
            .apertura{
                width: 68vw;

                h1{
                    font-size:35px ;
                }

                .form-check{ 
                    margin-left:0.5rem ;
                    width: 40vw;
                
                    .form-check-label{
                        width: 32vw;
                    }
                }

                .form-control, .form-select {
                    width: 53vw;
                    }
                .boton_cuenta{
                    margin-left: 10%;
                    width: 14vw;

                    }
                }
            
            }

        }

    
    
    }

//PAGINA SOBRE NOSOTROS

    .about_company{

        .sobre_nosotros{

            .titulo_conocenos{
                font-size: 38px;

            }

            .introduccion{

                p{ font-size: 22px;
                    line-height: 1.6rem;

                }
            }

            .cita_motivacional{
                font-size: 24px;

                
            }
            .about_me{
                margin-top: 18%;
                width: 35vw;
                height: 45vw;

            }
            .mision_y_vision{


                p{
                    font-size: 22px;
                    line-height: 1.6rem;

                }

            }

            .valores{


                p{
                    font-size: 22px;
                    line-height: 1.6rem;

                }
            }

            
        }

        
    }



}

@media screen and  (max-width: 480px) {

// NAVBAR

    .header-right{
        display:none;
    }

    .barra_navegacion .header img{
        width: 35vw;
    }

    .barra_navegacion .header .burger{ 
    display: flex;
    }

// PAGINA INDEX
    .index{
        padding-bottom: 33%;
    

        .titulo_principal .sombra_titulo1{
            font-size: 33px;
            margin-top:15%;
            width: 74%;
          padding: 3%;
            
        }

        .titulo_principal .sombra_titulo2{
            display:none
        }

        

        .titulo_principal .boton_acceder{
            width: 40vw;
            margin-top: 25%;
                }
        }
    .categorias_titulo h2{
        font-size: 40px;
    }
    .container_categorias .tipos_de_categorias .imagenes_categorias {
        width: 300px;
        
    }

    .container_categorias .tipos_de_categorias h3{
        font-size: 28px;
    }
    .grid-container .accordion-body img {
        width: 50vw;
    }

    .grid-container .grid-acordion h3{
        font-size: 40px;
        margin-top: 15%;
    }
    .accordion{
        width: 80%;
        margin-left: 10%
    }
    .grid-container .grid-carusel h3 {
        font-size: 40px;
        
    }
    .grid-container .carousel-inner {
        padding-right: 100%;
    }
    .grid-container .carousel-item img {
        width: 330px;
        margin-left: 1.2rem;
    }
//SUBSCRICION DE BOLETIN

    .suscribe_boletin{
        margin-top: 10%;
        margin-bottom: 10%;
        justify-content: center;
        flex-direction: column;
        align-items: center;    

        h2{
            font-size: 20px;   
        }

        input{
            font-size: 18px;
            width: 50vw;
            margin-left: 1.5rem;
            margin-top: 3%;
        }

        button{
            width: 4.5rem;
            font-size: 20px;
            margin-top: 5%;
        }
    }


//FOOTER
    .container_pie_de_pagina {
        .pie_de_pagina{
            gap:1.5rem;
            width:40vw;
    
            .footer{
                width: auto;
                .logo_footer{
                    width: 22vw;
                    padding-bottom: 1.2rem;

                }
            }
    
            .redes{
                margin-left: 0.25rem;

                img{
                    width: 8vw;
                    }
            }
    
            .mobile{
                width: 40vw;
            }
    
            .footer_remove{
                display: none;
                width: 1vw;
            }
        }

    }
    
// inicio de sesion
.inicio_de_sesion {

    .fondo_inicio_sesion{
        width: 70vw;

        .logo_inicio{
            margin-left: 30%;
            width: 30vw;

        }

        .formulario_inicio_sesion{
            width: 70vw;

            h1{
                font-size: 31px;
            }

            .form-label{
                width: 40vw;
                font-size: 20px;
            }
            
            .form-control{
                width: 58vw;
                font-size: 17px;
             }
        }

        .form-check{
            width: 54vw;

            .boton_cuenta{
                width: 20vw;
             }

        }

        .olvide_contraseña {
            margin-left: 15%;
            width: 53vw;

        }
        
        .boton_cuenta_nueva{
            width: 32vw;

            }
        }
    }

    /// PAGINA CREAR CUENTA//
  
    
.crear_cuenta{

    form{
        .fondo_apertura {
            width: 80vw;

            .logo_crear_cuenta{
                width: 40vw;
            margin-top: 3rem;
            margin-left: 28%;

            }
            .apertura{
                width: 80vw;

                h1{
                    font-size:33px ;
                }

                .form-label {
                    font-size: 21px;
                }
                .form-check{ 
                    margin-left:0.5rem ;
                    width: 40vw;
                
                    .form-check-label{
                        width: 40vw;
                    }
                }

                .form-control, .form-select {
                    width: 63vw;
                    font-size: 18px;

                    }
                .boton_cuenta{
                    margin-left: 3%;
                    width: 24vw;

                    }
                }
            
            }

        }

    
    
    }   

// PAGINA CATEGORIAS

        .titulo_todas_las_asesorias{
            width: 80%;
            margin-left: 11%;
        }

        .suscribe_boletin .form-control {
            width: 67vw;
            height: 16%;
            margin: 1%;
        }

        //PAGINA SOBRE NOSOTROS

    .about_company{

        .sobre_nosotros{
            margin: 1%;
            margin-top: 5%;

            .titulo_conocenos{
                font-size: 34px;}

            .introduccion{

                p{ font-size: 20px;
                    line-height: 1.4rem;}
            }

            .cita_motivacional{
                font-size: 23px;
                line-height: 2rem;
                
            }
            .about_me{
                margin-top: 35%;
                width: 38vw;
                height: 65vw;
             }
            .mision_y_vision{

                h2{ 
                    font-size: 32px;}

                p{
                    font-size: 20px;
                    line-height: 1.4rem;}
            }

            .valores{ 

                p{
                    font-size: 22px;
                    line-height: 1.6rem;}

                ul li{
                    font-size: 20px;
                    line-height: 2rem;
                }
            }

            
                
                .container_equipo{
                    flex-direction: column;

                    .equipo{
                        width: auto;

                        img{ 
                            width: 35vw; }

                    }

                    .last{

                        img{
                            width: 35vw;}

                        p{
                            width: 70%;}
                        }

                    }

                }
            }
        

        
        .volver{text-align: center;

        }

    


}

@media screen and  (max-width: 320px){

    // inicio de sesion
.inicio_de_sesion {

    .fondo_inicio_sesion{
        width: 72vw;

        .logo_inicio{
            margin-left: 30%;
            width: 34vw;

        }

        .formulario_inicio_sesion{
            width: 72vw;

            h1{
                font-size: 22px;
            }

            .form-label{
                width: 40vw;
                font-size: 15px;
            }
            
            .form-control{
                width: 60vw;
                font-size: 13px;
             }
        }

        .form-check{
            width: 64vw;

            .boton_cuenta{
                width: 30vw;
                font-size: 15px;

                a {
                    color: black;
                }
             }

        }

        .olvide_contraseña {
            margin-left: 30%;
            font-size: 15px;

        }
        
        .boton_cuenta_nueva{
            width: 34vw;
            font-size: 15px;

            a {
                color: black;
            }

            }
        }
        .volver{
            padding-bottom: 45%;
        }
    }



     /// PAGINA CREAR CUENTA//
  
    
.crear_cuenta{

    form{
        .fondo_apertura {
            width: 90vw;

            .logo_crear_cuenta{
                width: 45vw;
            margin-top: 3rem;
            margin-left: 28%;

            }
            .apertura{
                width: 90vw;

                h1{
                    font-size:29px ;
                }

                .form-label {
                    font-size: 20px;
                }
                .form-check{ 
                    margin-left:0.5rem ;
                    width: 60vw;
                
                    .form-check-label{
                        width: 55vw;
                        font-size: 18px;
                    }
                }

                .form-control, .form-select {
                    width: 72vw;
                    font-size: 16px;

                    }
                .boton_cuenta{
                    margin-left: 3%;
                    width: 24vw;

                    }
                }
            
            }

        }
    }

    // pagina principal
    .index{
        padding-bottom: 30%;
    

        .titulo_principal .sombra_titulo1{
            font-size: 30px;
            margin-top:13%;
            width: 80%;
          padding: 3%;
            
        }

        .titulo_principal .sombra_titulo2{
            display:none
        }

        

        .titulo_principal .boton_acceder{
            width: 44vw;
            margin-top: 40%;
                }
        }
    
    .container_categorias .tipos_de_categorias .imagenes_categorias {
        width: 70vw;
        
    }
    .categorias_titulo h2{
        font-size: 40px;

    }
    .accordion{
        width: 80%;
        margin-left: 10%
    }
    .grid-container .grid-acordion h2 {
        padding-top: 30%;
        padding-bottom: 20%;
    }

    .grid-container .grid-acordion {
        width: 70%;
    }

    .grid-container .grid-acordion-body img {
        width: 50vw;
    }

    .grid-container .grid-carusel h3{
        font-size: 40px;

    }
    .grid-container .carousel-inner {
        padding-right: 100%;
    }
    .grid-container .carousel-item img {
        width: 90vw;
        margin-left: 1rem;
    }
    

    // NAVBAR

    .barra_navegacion .header img{
        width: 40vw;
    }
}



