.categorias_titulo {
    padding-top: 12%;
    padding-bottom: 3rem;

    h2{
    font-size: 40px;
    
    }
}

.container_categorias{
    background-color: $colorContainer;
    padding-top: 4%;
    padding-bottom: 2%;
    box-shadow: $colorSombraContainer;

    .imagenes_categorias {
        height: 28vh;
        width: 15vw;
        border-radius: 15%;
        box-shadow: $colorSombraImagenes;

        &:hover{
            width: 20vw;
            height: 30vh;
        }

    }

    .tipos_de_categorias h3{
        margin-top: 2rem;
        font-size: 20px;
    }

}

.grid-container{
    .grid-acordion h3{
        text-align: center;
        padding-top:4rem;
        padding-bottom: 4%;
        font-size: 40px;}

        .accordion{
            width: 40%;
            margin-left: 29%;

            .accordion-button{
                

            }

        }

        .accordion-body img{
            width:20vw;
            border-radius: 30%;
            align-self: center;
    
        }    
        .accordion-body p {
            margin-top: 1rem;
            text-align: center;
        }
    
        .grid-carusel h3{
            text-align: center;
            padding-top:15%;
            padding-bottom: 10%;
            font-size: 40px;    
        }
        .carousel-inner{
            padding-right: 33%;
            }
            .carousel-item img {

            width: 30vw;
    
        }    
    }  

