.categorias_titulo {
    padding-top: 12%;
    padding-bottom: 3rem;

    h2{
    font-size: 52px;
        }
    }

.container_categorias{
    background-color: $colorContainer;
    padding-top: 4%;
    padding-bottom: 2%;
    box-shadow: $colorSombraContainer;

    .tipos_de_categorias{
      
        h3{
            margin-top: 2rem;
            font-size: 20px;
        }

        .imagenes_categorias {
            height: 28vh;
            width: 15vw;
            border-radius: 15%;
            box-shadow: $colorSombraImagenes;
            transition: 2s;

            &:hover {
                height: 400px;
                width: 400px;
                }
            }

        }   
    }

    .tipos_de_categorias h3{
        margin-top: 2rem;
        font-size: 20px;
    }



.grid-container{
    .grid-acordion h3{
        text-align: center;
        padding-top:10%;
        padding-bottom: 8%;
        font-size: 52px;}

        .accordion{
            width: 44%;
            margin-left: 29%;

        }

        .accordion-body img{
            width:20vw;
            border-radius: 30%;
            align-self: center;
    
        }    
        .accordion-body p {
            margin-top: 1rem;
            text-align: center;
        }
        
        .grid-carusel .carousel .carousel-control-prev{
            margin-left: 20%;
        }
        .grid-carusel h3{
            text-align: center;
            padding-top:15%;
            padding-bottom: 10%;
            font-size: 52px;    
        }
        .carousel-inner{
            padding-right: 33%;
            }
        .carousel-item img {
            width: 500px;
        }    
    }  