@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
$font: 'Roboto', sans-serif;

$mainColor: rgba(39, 119, 119, 0.562);
$colorBoton: darkcyan;

$colorContainer: rgba(39, 119, 119, 0.096) ;

$colorSecundario: rgba(153, 201, 201, 0.664);

$colorTerceario: rgba(158, 157, 154, 0.387);

$colorHoverLista: rgb(18, 143, 165);

$colorSombra : rgba(0, 0, 0, 0.162);

$fondoImagen: url(../../img/pexels-fauxels-3183198.jpg);
