@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
$font: 'Roboto', sans-serif;

$mainColor: rgba(39, 119, 119, 0.562);
$colorBoton: darkcyan;

$colorContainer: rgba(39, 119, 119, 0.096) ;

$colorSecundario: rgba(153, 201, 201, 0.664);

$colorTerceario: rgba(158, 157, 154, 0.387);

$colorHoverLista: rgb(18, 143, 165);

$colorPadding: rgba(0, 0, 0, 0.162);

$colorSombraContainer: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

$colorSombraImagenes: rgba(0, 0, 0, 0.35) 0px 5px 15px;

